

<link rel="stylesheet" href="{{ 'component-deferred-media.css' | asset_url }}" media="print" onload="this.media='all'">

<div class="test-wrapper page-width{% if section.settings.heading == blank %} no-heading{% endif %}">
  <h2 class="test-wrapper-title">{{ section.settings.heading | escape }}</h2>

  <div class="test test--{{ section.settings.desktop_layout }}{% if section.settings.mobile_layout == 'test' %} collage--mobile{% endif %}">
    {%- for block in section.blocks -%}

      {% liquid
        assign focus_card_left = false
        if section.settings.desktop_layout == 'left' and forloop.first
          assign focus_card_left = true
        elsif section.settings.desktop_layout == 'right' and forloop.last
          assign focus_card_right = true
        endif
      %}
      {%- case block.type -%}
        {%- when 'image' -%}
          <div class="test-card color-{{ block.settings.color_scheme }}{% if focus_card_left %} test-card--left{% elsif focus_card_right %} test-card--right{% endif %}" {{ block.shopify_attributes }}>
            <div class="test-content test-card__image-wrapper media media--transparent{% if block.settings.image_padding %} test-card-spacing{% endif %}">
              {%- if block.settings.image != blank -%}
                <img
                  srcset="{%- if block.settings.image.width >= 550 -%}{{ block.settings.image | img_url: '550x' }} 550w,{%- endif -%}
                    {%- if block.settings.image.width >= 720 -%}{{ block.settings.image | img_url: '720x' }} 720w,{%- endif -%}
                    {%- if block.settings.image.width >= 990 -%}{{ block.settings.image | img_url: '990x' }} 990w,{%- endif -%}
                    {%- if block.settings.image.width >= 1100 -%}{{ block.settings.image | img_url: '1100x' }} 1100w,{%- endif -%}
                    {%- if block.settings.image.width >= 1500 -%}{{ block.settings.image | img_url: '1500x' }} 1500w,{%- endif -%}
                    {%- if block.settings.image.width >= 2200 -%}{{ block.settings.image | img_url: '2200x' }} 2200w,{%- endif -%}
                    {%- if block.settings.image.width >= 3000 -%}{{ block.settings.image | img_url: '3000x' }} 3000w,{%- endif -%}
                    {{ block.settings.image | img_url: 'master' }} {{ block.settings.image.width }}w"
                  src="{{ block.settings.image | img_url: '1500x' }}"
                  sizes="(min-width: {{ settings.page_width }}px) {% if section.blocks.size == 1 %}calc({{ settings.page_width }}px - 100px){% else %}{{ settings.page_width | minus: 100 | times: 0.67 | round }}px{% endif %}, (min-width: 750px){% if section.blocks.size == 1 %} calc(100vw - 100px){% else %} 500px{% endif %}, calc(100vw - 30px)"
                  alt="{{ block.settings.image.alt | escape }}"
                  loading="lazy"
                  width="{{ block.settings.image.width }}"
                  height="{{ block.settings.image.height }}"
                  class="test-card__image"
                >
              {%- else -%}
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder test-card__image' }}
              {%- endif -%}
            </div>
          </div>

        {%- endcase -%}
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.test.name",
  "tag": "section",
  "class": "spaced-section test-section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "TEST",
      "label": "t:sections.test.settings.heading.label"
    },
    {
      "type": "select",
      "id": "desktop_layout",
      "options": [
        {
          "value": "left",
          "label": "t:sections.collage.settings.desktop_layout.options__1.label"
        },
        {
          "value": "right",
          "label": "t:sections.collage.settings.desktop_layout.options__2.label"
        }
      ],
      "default": "left",
      "label": "t:sections.collage.settings.desktop_layout.label"
    },
    {
      "type": "select",
      "id": "mobile_layout",
      "options": [
        {
          "value": "collage",
          "label": "t:sections.collage.settings.mobile_layout.options__1.label"
        },
        {
          "value": "column",
          "label": "t:sections.collage.settings.mobile_layout.options__2.label"
        }
      ],
      "default": "collage",
      "label": "t:sections.collage.settings.mobile_layout.label"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "t:sections.test.blocks.image.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.test.blocks.image.settings.image.label"
        },
        {
          "type": "checkbox",
          "id": "image_padding",
          "default": false,
          "label": "t:sections.test.blocks.image.settings.image_padding.label",
          "info": "t:sections.test.blocks.image.settings.image_padding.info"
        },
        {
          "type": "select",
          "id": "color_scheme",
          "options": [
            {
              "value": "accent-1",
              "label": "t:sections.test.blocks.image.settings.color_scheme.options__1.label"
            },
            {
              "value": "accent-2",
              "label": "t:sections.test.blocks.image.settings.color_scheme.options__2.label"
            }
          ],
          "default": "accent-1",
          "label": "t:sections.test.blocks.image.settings.color_scheme.label",
          "info": "t:sections.test.blocks.image.settings.color_scheme.info"
        }
      ]
    },
    {
      "type": "product",
      "name": "t:sections.test.blocks.product.name",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "t:sections.test.blocks.product.settings.product.label"
        },
        {
          "type": "checkbox",
          "id": "second_image",
          "default": false,
          "label": "t:sections.test.blocks.product.settings.second_image.label"
        },
        {
          "type": "checkbox",
          "id": "image_padding",
          "default": false,
          "label": "t:sections.test.blocks.product.settings.image_padding.label",
          "info": "t:sections.test.blocks.product.settings.image_padding.info"
        },
        {
          "type": "checkbox",
          "id": "secondary_background",
          "default": false,
          "label": "t:sections.test.blocks.product.settings.secondary_background.label"
        }
      ]
    }
  ],
  "max_blocks": 3,
  "presets": [
    {
      "name": "t:sections.test.presets.name",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "product"
        }
      ]
    }
  ]
}
{% endschema %}
